<!DOCTYPE html>
<html ng-app="homeworkJournal">
  <head>
    <title>Ballymakenny College Homework Journal</title>

    <style>
      body,html{
        width: 100%;
        height: 100%;
      }
      </style>

    <!-- Viewport mobile tag for sensible mobile support -->
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">

    <link rel="stylesheet" type="text/css" href="/styles/bootstrap.min.css" />
  </head>

  <body>
    <%- body %>
  
    <script defer src="https://use.fontawesome.com/releases/v5.0.2/js/all.js"></script>
    <script type = "text/javascript" src = "/js/date.js"></script>
    <script type = "text/javascript" src = "/js/jquery.min.js"></script>
    <script type = "text/javascript" src = "/js/popper.min.js"></script>
    <script type = "text/javascript" src = "/js/tooltip.js"></script>
    <script type = "text/javascript" src = "/js/bootstrap.min.js"></script>
    <script type = "text/javascript" src = "/js/angular.min.js"></script>
    <script type = "text/javascript" src = "/js/main.js"></script>
    
  </body>
</html>